In [1]:
import pandas as pd
import numpy as np

# Load the data and Read

In [2]:
file_path = './gender_submission.csv'
gender_data = pd.read_csv(file_path)

In [3]:
gender_data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

## Check the data for null/na values

In [4]:
gender_data.isnull()

     PassengerId  Survived
0          False     False
1          False     False
2          False     False
3          False     False
4          False     False
..           ...       ...
413        False     False
414        False     False
415        False     False
416        False     False
417        False     False

[418 rows x 2 columns]