# Introduction

Structured Query Language, or SQL, is the programming language used with databases, and it is an important skill for any data scientist. In this course, you'll build your SQL skills using BigQuery, a web service that lets you apply SQL to huge datasets.

In this lesson, you'll learn the basics of accessing and examining BigQuery datasets. After you have a handle on these basics, we'll come back to build your SQL skills.

## Your first BigQuery commands

To use BigQuery, we'll import the Python package below:

In [1]:
!pip install google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (3.34.0)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.25.0)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-cloud-bigquery) (2.40.3)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-cloud-bigquery) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=24.2.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-cloud-bigquery) (24.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0,>=2.21.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (6.31.1)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.26.1)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.73.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.73.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (4.9.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.7.1)
Requirement already satisfied: six>=1.5 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2025.4.26)
Requirement already satisfied: pyasn1>=0.1.3 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from rsa<5,>=3.1.4->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.6.1)

In [2]:
import os
from google.cloud import bigquery

The first step in the workflow is to create a Client object. As you'll soon see, this Client object will play a central role in retrieving information from BigQuery datasets.

In [3]:
# Set this to the full absolute path of your downloaded key
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/home/mwaki/Documents/Documents/Credentials/egerdrive-7433adb919ad.json"

In [4]:
# Create a "Client" object
client = bigquery.Client()

We'll work with a dataset of posts on Hacker News, a website focusing on computer science and cybersecurity news.

In BigQuery, each dataset is contained in a corresponding project. In this case, our hacker_news dataset is contained in the bigquery-public-data project. To access the dataset,

    We begin by constructing a reference to the dataset with the dataset() method.
    Next, we use the get_dataset() method, along with the reference we just constructed, to fetch the dataset.

In [5]:
dataset_ref = client.dataset("hacker_news",project="bigquery-public-data")
# Api request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Every dataset is just a collection of tables. You can think of a dataset as a spreadsheet file containing multiple tables, all composed of rows and columns.

We use the list_tables() method to list the tables in the dataset.

In [6]:
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

full

Similar to how we fetched a dataset, we can fetch a table. In the code cell below, we fetch the full table in the hacker_news dataset.

In [7]:
# construct a reference to the full talbe
table_ref = dataset_ref.table("full")
# api request - fetch the table
table = client.get_table(table_ref)

Similar to how we fetched a dataset, we can fetch a table. In the code cell below, we fetch the full table in the hacker_news dataset.

## Table schema

The structure of a table is called its *schema*. We need to understand a table's schema to effectively pull out the data we want.

In this example, we'll investigate the full table that we fetched above.

In [8]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', None, 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', None, 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', None, 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', None, 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', None, "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', None, 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', None, 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', None, 'type of details (comment comment_ranking poll story job pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', None, "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', None, 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', None, 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', None, 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', None, 'Is deleted?', (), None)]

Each SchemaField tells us about a specific column (which we also refer to as a field). In order, the information is:

    The name of the column
    The field type (or datatype) in the column
    The mode of the column ('NULLABLE' means that a column allows NULL values, and is the default)
    A description of the data in that column

The first field has the SchemaField:

SchemaField('by', 'string', 'NULLABLE', "The username of the item's author.",())

This tells us:

    the field (or column) is called by,
    the data in this field is strings,
    NULL values are allowed, and
    it contains the usernames corresponding to each item's author.

We can use the list_rows() method to check just the first five lines of of the full table to make sure this is right. (Sometimes databases have outdated descriptions, so it's good to check.) This returns a BigQuery RowIterator object that can quickly be converted to a pandas DataFrame with the to_dataframe() method.

In [9]:
!pip install db-dtypes

Requirement already satisfied: db-dtypes in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.24.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from db-dtypes) (2.2.5)
Requirement already satisfied: packaging>=24.2.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from db-dtypes) (24.2)
Requirement already satisfied: pandas>=1.5.3 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from db-dtypes) (2.2.3)
Requirement already satisfied: pyarrow>=13.0.0 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from db-dtypes) (20.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from pandas>=1.5.3->db-dtypes) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from pandas>=1.5.3->db-dtypes) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from pandas>=1.5.3->db-dtypes) (2025.2)
Requirement already satisfied: six>=1.5 in /home/mwaki/miniconda3/envs/hood/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.3->db-dtypes) (1.17.0)

In [10]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,<NA>,None,<NA>,1437502056,2015-07-21 18:07:36+00:00,story,9924394,<NA>,<NA>,<NA>,<NA>
1,None,None,None,<NA>,None,<NA>,1437502282,2015-07-21 18:11:22+00:00,story,9924424,<NA>,<NA>,<NA>,<NA>
2,None,None,None,<NA>,None,<NA>,1437502311,2015-07-21 18:11:51+00:00,story,9924428,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1437502371,2015-07-21 18:12:51+00:00,story,9924434,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1437502867,2015-07-21 18:21:07+00:00,story,9924512,<NA>,<NA>,<NA>,<NA>

The list_rows() method will also let us look at just the information in a specific column. If we want to see the first five entries in the by column, for example, we can do that!

In [11]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

  title
0  None
1  None
2  None
3  None
4  None