In [1]:
from google.cloud import bigquery
import os

c:\Users\Admin\.conda\envs\data_science\Lib\site-packages\requests\__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

In [2]:
# Set this to the full absolute path of your downloaded key 
# get the key form google console to be able to access bigquery which is hosted my google
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "E:\\c_extend\\Documents\\egerdrive-7433adb919ad.json"
# os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/home/mwaki/Documents/Documents/Credentials/egerdrive-7433adb919ad.json"

In [3]:
client = bigquery.Client()
dataset_ref = client.dataset('openaq',project='bigquery-public-data')
dataset = client.get_dataset(dataset_ref)

In [4]:
table_ref = dataset_ref.table('global_air_quality')
tables = client.get_table(table_ref)
client.list_rows(tables,max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

In [5]:
# Query to select countries with units of "ppm"
first_query = """
select country from `bigquery-public-data.openaq.global_air_quality`
where unit ='ppm'"""
# Your code goes here

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

c:\Users\Admin\.conda\envs\data_science\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [6]:
# View top few rows of results
print(first_results.head())

  country
0      CO
1      CO
2      AR
3      CO
4      IL

In [7]:
# Query to select all columns where pollution levels are exactly 0
zero_pollution_query = """
select * from `bigquery-public-data.openaq.global_air_quality`
where value = 0
""" # Your code goes here

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(zero_pollution_query, job_config=safe_config)

# API request - run the query and return a pandas DataFrame
zero_pollution_results = query_job.to_dataframe()# Your code goes here

c:\Users\Admin\.conda\envs\data_science\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [8]:
print(zero_pollution_results.head())

                       location      city country pollutant  value  \
0     Zielonka, Bory Tucholskie  Zielonka      PL        bc    0.0
1    Toruń, ul. Przy Kaszowniku     Toruń      PL        bc    0.0
2           Kielce, ul. Targowa    Kielce      PL        bc    0.0
3     Zielonka, Bory Tucholskie  Zielonka      PL        bc    0.0
4  Koszalin, ul. Armii Krajowej  Koszalin      PL        bc    0.0

                  timestamp   unit source_name  latitude  longitude  \
0 2022-04-29 14:00:00+00:00  µg/m³        GIOS       1.0  53.662136
1 2022-04-19 04:00:00+00:00  µg/m³        GIOS       1.0  53.017628
2 2022-05-07 17:00:00+00:00  µg/m³        GIOS       1.0  50.878998
3 2022-05-19 14:00:00+00:00  µg/m³        GIOS       1.0  53.662136
4 2022-05-12 20:00:00+00:00  µg/m³        GIOS       1.0  54.193986

   averaged_over_in_hours       location_geom
0               17.933986  POINT(53.662136 1)
1               18.612808  POINT(53.017628 1)
2               20.633692  POINT(50.878998 1)
3               17.933986  POINT(53.662136 1)
4               16.172544  POINT(54.193986 1)